<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Makeup Recommender</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
  <link  rel="stylesheet" type='text/css' href='../static/css/style.css'/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Paytone+One&display=swap" rel="stylesheet" />

    <p id='page_title'> Makeup Recommender </p>
</head>

<body>
    <form action="{{ url_for('predict')}}"method="post">
        <!-- <div class='user_survey'> -->
            <p style='text-align: center; font-size: 30px;'> First, we need to ask you some questions...</p>
            <div style='transform: scale(0.65);'>
                <h3 style='font-size: 2.5rem;'>Which best describes your skin type?</h3>
                <hr width:50%/>
                <div style='text-align: center' id='block-1'>
                    <label for='type_option-1' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option' id='option-1' value='Oily' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Oily</label>
                    <label for='type_option-2' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option'  id='option-2' value='Dry' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Dry</label>
                    <label for='type_option-3' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option'  id='option-3' value='Combination' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Combination</label>
                    <label for='type_option-4' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option'  id='option-4' value='Normal' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Normal</label>
                </div>
                <hr width:50%/> 
            </div>
            <div style='transform: scale(0.65); position: relative'>
                <h3 style='font-size: 2.5rem;'>Which best describes your skin tone?</h3>
                <hr width:50% />
                <div style='text-align: center' id='block-2'>
                    <label for='tone_option-1' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1' id='option-1' value='Porcelain' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Porcelain</label>
                    <label for='tone_option-1' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1' id='option-1' value='Fair' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Fair</label>
                    <label for='tone_option-1' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1' id='option-1' value='Light' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Light</label>
                    <label for='tone_option-1' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1' id='option-1' value='Medium' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Medium</label>
                    <label for='tone_option-2' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1'  id='option-2' value='Tan' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Tan</label>
                    <label for='tone_option-3' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1'  id='option-3' value='Olive' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Olive</label>
                    <label for='tone_option-4' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1'  id='option-4' value='Deep' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Deep</label>
                    <label for='tone_option-5' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1'  id='option-5' value='Dark' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Dark</label>
                    <label for='tone_option-5' style=' padding: 15px; font-size: 2.5rem;'>
                        <input type='radio' name='option1'  id='option-5' value='Ebony' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
                        Ebony</label>
                </div>
                <hr width:50%/> 
            </div>
            <div style='transform: scale(0.65); position: relative'>
                <h3 style='font-size: 2.5rem;'>What is your budget per product?</h3>
                <hr />
            </div>
            <div style='width: 75%' class="slidecontainer">
                <input style='text-align: center; vertical-align: middle;' type="range" min="2" max="240" class="slider" id="myRange" name="myRange">
                <p style="font-size: 1.5rem; text-align: center">$ <span id="price"></span></p>
            </div>
            <script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("price");
                output.innerHTML = slider.value; // Display the default slider value

                // Update the current slider value (each time you drag the slider handle)
                slider.oninput = function() {
                    output.innerHTML = this.value;
                }
            </script>
            <div style='transform: scale(0.65); position: relative'>
                <h3 style='font-size: 2.5rem;'>Do you have any of the following ingredient preferences? Select those that apply.</h3>
                <hr />
            </div>
            <!--<form id='allergies' name='allergies'>-->
                <select name='allergies' multiple style="text-align: center;">
                <option style='font-size: 1rem;'>Rubber Free</option>
                <option style='font-size: 1rem;'>Fragrance Free</option>
                <option style='font-size: 1rem;'>Preservative Free</option>
                <option style='font-size: 1rem;'>Metal Free</option>
                </select>
                <br><br>
                <p style='font-size: 1.5rem; text-align:center'> We would love to know which products you currently enjoy! Please enter at least 1 Sephora product ID below (separated by a comma e.g. 1234567,9876543).</p>
                <input type='text' name='input_products' multiple min='1' style="width: 50%; text-align: center">
            <!--</form>-->
        <!-- </div> -->
            
        <br>
        <br>
        <!-- <div class="container"> -->
            <!-- <button class="submit_form" type="submit">Find me a set!</button> -->
        <!-- </div> -->  
        <button class="submit_form" type="submit" style='text-align: center'>Find me a set!</button>
    </form>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>
    <br> 
    <br>

    <div class='categories'> 
        <h2> Face </h2>
        <h2> Eye </h2>
        <h2> Lip </h2>
        <h2> Cheek </h2>
    </div>

    {% for brand in brand_text %}
   	 <p class='b'> {{brand}} </p>
    {% endfor %}

    {% for product in product_text %}
   	 <p class='b'> {{product}} </p>
    {% endfor %}
   
    {% for price in price_text %}
        <p class='b'> {{price}} </p>
    {% endfor %}

    {% for id in link_text %}
   	 <a href={{id}} class='b'> Product Link </a>
    {% endfor %}

    <!--   <div class="container">
        <button class="submit_form">Find me another set</button>
    </div>-->
</body>

